<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <br>
    <body>
        <h1>Info Page</h1>
        <a href="https://www.linkedin.com/sydbailey"><b>HI!</b></a>
        <p>This is the info page: here's some information about me!</p>
    </body>
</html>